.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #f0f8ff;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.social-icon:hover {
  color: #2ecc71;
}
.gym-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
